<div class="middle-box my_info_box text-center">
	<h2>{{memberObj.user_name}}<br><small>{{memberObj.user_id}} / {{memberObj.user_type}}</small></h2>
	<div class="my_info_profile_img">
		<img ng-src="{{ getFileFullPath() }}" alt="프로필 사진" class="img-circle" width="80%" data-view="photo_preview">
		<div>
			<span class="btn btn-danger btn-rounded btn_edit" title="프로필수정"><i class="fa fa-camera"></i> </span>
			<input type="file" class="input_file_icon" data-act="photo_upload" accept="image/*">
		</div>
	</div>
	<p class="my_info_text">
		{{ getGenderName() }} / {{memberObj.user_birthday}} / {{!memberObj.user_age||memberObj.user_age==0?"생일 미입력":memberObj.user_age+"세"}} / {{memberObj.subject}}<br>
		{{memberObj.tel1_no}}<br>
		{{memberObj.user_email}}
	</p>
	<div>
		<div class="form-group">
			<button type="button" class="btn btn-rounded btn-rounded" ng-click="alarm_type = !alarm_type" ng-class="alarm_type?'btn-primary':''" ng-disabled="!alarm_modify">알림 off</button>
			<button type="button" ng-if="alarm_modify == false" ng-click="alarm_modify_fun(true)" class="btn btn_style_submit btn_block btn_bold mb_10">알림 수정</button>
		</div>
		<div ng-show="alarm_off_isset && !alarm_modify" class="form-group">
			{{start_time_h}}:{{start_time_m}} ~ {{end_time_h}}:{{end_time_m}}
		</div>
		<div ng-show="alarm_modify" class="form-group">
			<select ng-model="start_time_h" class="select_time_h_left">
				<option ng-repeat="option in start_h" value="{{option}}" ng-disabled="!alarm_modify">{{option}}</option>
			</select>
			<select ng-model="start_time_m" class="select_time_m_left">
				<option ng-repeat="option in start_m" value="{{option}}" ng-disabled="!alarm_modify">{{option}}</option>
			</select> ~

			<select ng-model="end_time_h" class="select_time_h_right">
				<option ng-repeat="option in end_h" value="{{option}}" ng-disabled="!alarm_modify">{{option}}</option>
			</select>
			<select ng-model="end_time_m" class="select_time_m_right">
				<option ng-repeat="option in end_m" value="{{option}}" ng-disabled="!alarm_modify">{{option}}</option>
			</select>
		</div>

		<div class="form-group">
			<button type="button" ng-if="alarm_modify == true" ng-click="alarm_save_fun()" class="btn btn_style_submit btn_block btn_bold mb_10">저장</button>
			<button type="button" ng-if="alarm_modify == true" ng-click="alarm_modify_fun(false)" class="btn btn_style_cancel btn_block btn_bold">수정 취소</button>
		</div>
	</div>

	<button type="button" class="btn btn-primary btn-block btn-lg m-t-xl" ng-click="goMemberEdit()">개인 정보 변경</button>
	<button type="button" class="btn btn-info btn-block btn-lg m-t-xl" ng-click="logout()">로그아웃</button>
	<!--<a href="#" onclick="return false;" class="btn m-t-xl" ng-click="memberOut()">학원밴드 탈퇴하기</a>-->
</div>