<div class="ibox float-e-margins">
	<div class="ibox-content message_page">
		<!-- 메세지 단위 시작 -->
		<div class="feed-element message_box">
			<div class="media-body">
				<!-- 메세지 텍스트 시작 -->
				<p class="message_list_text">알고 있지 오늘따라 그대가 왜 이러는지 얼굴은 빨개지고 눈빛도 이상하고 집에 안가고 가만있어 오늘 같은 밤을 내내 기다렸어 투박한 내 두 손에 온몸을 맡겨줘요 할게 있어요 쓰담쓰담쓰담쓰담 쓰담쓰담쓰담다담 해볼까요 토닥토닥토닥토-닥 토다닥디다리디독 해드릴까요 쓰잘데 없던 나의 손이 이런 용도일 줄이야 외로워 미칠 때마다 불러줘요 맙소사 그대 (그대)나의 귓가에 (귓가에)들리는 목소리 난 다 알았어요tv를 보든 (뭘 보든)식사 중이든 (뭘 먹든)운전 중이든 언제라도쓰담쓰담쓰담쓰담쓰담쓰담쓰담다담 해볼까요토닥토닥토닥토닥토-다닥디다리디독 해드릴까요오갈 데 없던 나에게도이런 날이 올 줄이야외로워 미칠 때마다밤이 외로워 미칠 때마다그대 두 볼이 빨개질 때마다불러줘요 </p>
				<!-- 메세지 텍스트 끝 -->
				<small class="pull-right"><span class="text-muted">2014.06.12 AM 5:00</span></small>

				<!-- 첨부 파일 영역 시작 -->
				<p class="m-t">
					<span><i class="fa fa-paperclip"></i> 10 개파일 첨부</span>
				</p>

			</div>
		</div>
		<!-- 메세지 단위 끝 -->
	</div>
	<div class="text-center m-b-xl m-t-xl">
		<button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
	</div>
</div>