<div class="ibox float-e-margins">
	<div class="ibox-title"><h2>내용</h2></div>
	<div class="ibox-content message_page">
		<!-- 메세지 단위 시작 -->
		<div class="feed-element message_box active">
			<div class="media-body">
				<!-- 메세지 텍스트 시작 -->
				<p class="message_body_text">알고 있지 오늘따라 그대가 왜 이러는지 얼굴은 빨개지고 눈빛도 이상하고 집에 안가고 가만있어 오늘 같은 밤을 내내 기다렸어 투박한 내 두 손에 온몸을 맡겨줘요 할게 있어요 쓰담쓰담쓰담쓰담 쓰담쓰담쓰담다담 해볼까요 토닥토닥토닥토-닥 토다닥디다리디독 해드릴까요 쓰잘데 없던 나의 손이 이런 용도일 줄이야 외로워 미칠 때마다 불러줘요 맙소사 그대 (그대)나의 귓가에 (귓가에)들리는 목소리 난 다 알았어요tv를 보든 (뭘 보든)식사 중이든 (뭘 먹든)운전 중이든 언제라도쓰담쓰담쓰담쓰담쓰담쓰담쓰담다담 해볼까요토닥토닥토닥토닥토-다닥디다리디독 해드릴까요오갈 데 없던 나에게도이런 날이 올 줄이야외로워 미칠 때마다밤이 외로워 미칠 때마다그대 두 볼이 빨개질 때마다불러줘요 </p>
				<!-- 메세지 텍스트 끝 -->
				<small class="pull-right"><span class="text-muted">2014.06.12 AM 5:00</span></small>
			</div>
		</div>
	</div>
	<div class="ibox-title m-t"><h2>첨부파일</h2></div>
	<div class="ibox-content">
		<!-- 첨부 파일 영역 시작 -->
		<p class="m-t-xl">
			<span><i class="fa fa-paperclip"></i> 10 개파일 첨부</span>
		</p>
		<div class="attachment">
			<div class="file-box">
				<div class="file">
					<a href="#">
						<span class="corner"></span>
						<div class="icon">
							<i class="fa fa-file"></i>
						</div>
						<div class="file-name">
							<p>Document_2014.doc</p>
						</div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- 첨부 파일 영역 끝 -->

	</div>
	<div class="ibox-title m-t">
		<h2>받은대상</h2>
	</div>
	<div class="ibox-content">
		<!-- 지역일 경우 -->
		<ul>
			<li>타입 : 지역</li>
			<li>시/도 : 서울시</li>
			<li>구/군 : 동작구 / 강남구 / 동대문구 / 영등포구</li>
			<li>업종 : 수학전문학원 / 영어전문학원(보습학원) / 국어/논술전문학원 / 음악학원</li>
			<li>사용자 그룹 : 원장님 / 선생님</li>
		</ul>
		<!-- 학원일 경우 -->
		<ul>
			<li>타입 : 학원</li>
			<li>시/도 : 서울시</li>
			<li>구/군 : 동작구</li>
			<li>사용자 그룹 : 원장님 / 선생님</li>
			<li>학원명 : 가우스수학학원 / 수학영재만들기</li>
		</ul>
		<!-- 사용자일 경우 -->
		<ul class="chosen_select">
			<li><a href="#"><img class="img-circle" src="../inspinia/img/profile.jpg" alt="홍길동님의 프로필" width="30"> 홍길동</a></li>
		</ul>
	</div>
	<div class="ibox-content text-right m-t">
		<button class="btn btn-default" type="button" title="목록으로">목록으로</button>
	</div>
</div>