<!-- 원장님 메세지 보내기 -->
<div class="ibox float-e-margins">


<div class="ibox-content form-horizontal">
	<div class="form-group">
		<label class="col-sm-1 control-label">전송대상타입</label>
		<div class="col-sm-11">
			<select name="targetType" ng-model="targetType" class="form-control m-b">
				<option value="class">반 선택</option>
				<option value="userGroup">사용자 그룹</option>
				<option value="search">검색</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">예약 발송</label>
		<div class="col-md-2">
			<input type="text" class="form-control" name="reservationDate" placeholder="날짜" readOnly>
		</div>
		<div class="col-md-2">
			<input type="time" class="form-control" name="reservationTime" placeholder="시간">
		</div>
		<div class="col-md-2">
			<span class="input-group-btn"> <button type="button" data-act="reservationCancel" class="btn btn-primary">예약 취소</button> </span>
		</div>
	</div>
	<div class="form-group" ng-show="targetType == 'class'">
		<label class="col-sm-1 control-label">반 선택</label>
		<div class="col-sm-11">
			<label class="i-checks ca_checks" for="check_class_{{item.class_no}}" ng-repeat="item in classList">
				<input type="checkbox"  value="{{item.class_no}}" data-count="{{item.student_count}}" id="check_class_{{item.class_no}}" name="targetClass">
				{{item.class_title}}(학생수:{{item.student_count}})
			</label>
		</div>
	</div>
	<div class="form-group"  ng-show="targetType == 'class' || targetType == 'userGroup'">
		<label class="col-sm-1 control-label">전송 대상</label>
		<div class="col-sm-11">
			<label class="i-checks ca_checks" for="check_category_01" data-type="targetUserType" data-value="teacher">
				<input type="checkbox"  value="teacher" id="check_category_01" name="targetUserType">
				<strong class="name">선생님</strong>
			</label>
			<label class="i-checks ca_checks" for="check_category_02" data-type="targetUserType" data-value="parent">
				<input type="checkbox"  value="parent" id="check_category_02" name="targetUserType">
				<strong class="name">정회원 학생의 학부모</strong>
			</label>
			<label class="i-checks ca_checks" for="check_category_03" data-type="targetUserType" data-value="student">
				<input type="checkbox"  value="student" id="check_category_03" name="targetUserType">
				<strong class="name">정회원 학생</strong>
			</label>
			<label class="i-checks ca_checks" for="check_category_04" ng-show="targetType == 'userGroup'" data-type="targetUserType" data-value="nonParent">
				<input type="checkbox"  value="nonParent" id="check_category_04" name="targetUserType">
				<strong class="name">비회원 학부모</strong>
			</label>
			<label class="i-checks ca_checks" for="check_category_05" ng-show="targetType == 'userGroup'" data-type="targetUserType" data-value="nonStudent">
				<input type="checkbox"  value="nonStudent" id="check_category_05" name="targetUserType">
				<strong class="name">비회원 학생</strong>
			</label>
		</div>
	</div>


	<!-- 상단 셀렉트 박스에서 이름 검새 후 메세지 보내기 선택하면 나오는 영역 시작 -->
	<div class="form-group"  ng-show="targetType == 'search'">
		<label class="col-sm-1 control-label">검색하기</label>
		<div class="col-sm-11">
			<div class="input-group">
				<input type="text" name="searchText" class="form-control" placeholder="학생 및 선생님 (아이디,이름) 검색"> <span class="input-group-btn"> <button type="button" class="btn btn-primary" data-act="messageTargetSearch">검색하기</button></span>
			</div>
		</div>
	</div>
	<!-- 검색하기 버튼 클릭시 결과 나타남. 클릭 전에는 나타나지 않음 -->
	<div class="form-group"  ng-show="targetType == 'search'" data-view="searchResult">
		<label class="col-sm-1 control-label">검색결과</label>
		<div class="col-sm-11">
			<ul class="search_name_list"></ul>
		</div>
	</div>
	<!-- 상단 셀렉트 박스에서 이름 검새 후 메세지 보내기 선택하면 나오는 영역 끝 -->
	<div class="form-group"  ng-show="targetType == 'search'" data-view="searchTarget">
		<label class="col-sm-1 control-label">선택자</label>
		<div class="col-sm-11">
			<ul class="chosen_select"></ul>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">내용</label>
		<div class="col-sm-11">
			<textarea cols="140" rows="10" name="messageContent" class="form-control" data-lib="editor"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label" ng-if="isMobile == false">첨부파일</label>
		<div class="col-sm-11">
			<div class="attachment">
				<div class="clearfix"></div>
			</div>
			<p>
				<span><i class="fa fa-paperclip"></i> 0개파일 첨부</span>
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label" ng-if="isMobile == false">파일첨부</label>
		<div class="col-sm-11">
			<span class="btn btn-primary">파일 업로드</span>
			<input type="file" class="input_file" data-act="file_upload" multiple>
		</div>
	</div>
</div>
<div class="ibox-content text-right">
	<button type="button" class="btn btn-default" data-act="cancel">취소하기</button>
	<button type="button" class="btn btn-primary" data-act="messageSend">등록하기</button>
</div>


</div>