<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="clientAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>


	<logger name="java.sql" level="debug" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="jdbc.resultset" level="fatal" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="jdbc.connection" level="fatal" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="hakwonband" level="debug" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="client.log" level="info" additivity="false">
		<appender-ref ref="clientAppender" />
	</logger>

	<root level="debug" additivity="false">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>