
<div style="text-align:center; margin:100px auto;">
	<a href="/file/회원등록엑셀.xlsx" target="_blank" class="btn btn-lg btn-warning m-b">샘플파일 다운로드</a>
	<div style="display:inline-block; position:relative;">
		<span class="btn btn-primary btn-lg m-b">파일 업로드</span>
		<input type="file" data-act="file_upload" class="input_file" style="position:absolute; top:0; left:0; width:124px; height:46px;">
	</div>
</div>

<div>
	<span ng-show="resultList.length > 0">업로드 결과 입니다.</span>
	<ul>
		<li ng-repeat="item in resultList">
			{{item.flag}} - {{item.user_id}}({{item.user_name}})
		</li>
	</ul>
</div>