
<div class="contact-box class_box" data-view="hakwonManagerInfo">
	<img class="img-circle m-t-xs img-responsive" alt="">
	<h3 class="title_name">등록된 매니저 이름</h3>
	<p class="contact-box-info">
		등록된 매니저 정보
	</p>
</div>

<div class="input-group m-b-xl col-md-4 col-md-offset-4">
	<input type="text" name="searchText" class="form-control" placeholder="매니저 번호 검색">
	<span class="input-group-btn"> <button type="button" class="btn btn-primary" data-act="search">검색</button> </span>
</div>

<div data-view="searchManager"></div>