<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="hakwonbandFileAppender" class="ch.qos.logback.core.FileAppender">
		<file>/hakwon-band/logs/hakwon-web/${server.type}-was-hakwonband.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="clientAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/hakwon-band/logs/hakwon-web/${server.type}-client.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/hakwon-band/logs/hakwon-web/%d{yyyy-MM-dd}-${server.type}-client.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<logger name="java.sql" level="error" additivity="false">
		<appender-ref ref="hakwonbandFileAppender" />
	</logger>

	<logger name="jdbc.resultset" level="error" additivity="false">
		<appender-ref ref="hakwonbandFileAppender" />
	</logger>

	<logger name="jdbc.connection" level="error" additivity="false">
		<appender-ref ref="hakwonbandFileAppender" />
	</logger>

	<logger name="org.springframework" level="error" additivity="false">
		<appender-ref ref="hakwonbandFileAppender" />
	</logger>

	<logger name="hakwonband" level="debug" additivity="false">
		<appender-ref ref="hakwonbandFileAppender" />
	</logger>

	<logger name="client.log" level="info" additivity="false">
		<appender-ref ref="clientAppender" />
	</logger>

	<root level="info" additivity="false">
		<appender-ref ref="FILE" />
	</root>

</configuration>