<section>
	<h2 class="tit">학원소개</h2>

	<div class="sec_con txt_cont" ng-bind-html="intro.introduction | rawHtml">
		<!--<div ng-bind-html="intro.introduction | rawHtml"></div>-->
	</div>

	<!--문의사항 영역-->
	<div class="sec_info">
		<span class="tit">문의사항</span>
		<span class="tel"><a href="tel:{{intro.tel_no_1}}">{{intro.tel_no_1}}</a></span>
	</div>
	<!--//문의사항 영역-->

</section>

<section>
	<h2 class="tit">공유하기</h2>

	<div class="sec_con_sns">
		<ul>
			<li><button type="button" class="sns_01" data-act="snsShare" data-type="facebook">페이스북</button><li>
			<li><button type="button" class="sns_04" data-type="kakao">카카오톡</button><li>
			<li><button type="button" class="sns_03" data-act="snsShare" data-type="line">라인</button><li>
			<li><button type="button" class="sns_05" data-act="snsShare" data-type="band">밴드</button><li>
			<li><button type="button" class="sns_06" data-act="snsShare" data-type="sms">메세지</button><li>
		</ul>
	</div>
<!--
	<div class="sec_con_sns">
		<a href="#" onclick="return false;" data-act="snsShare" data-type="facebook"><img src="/images/ico_sns_facebook.png" alt="페이스북" width="46" /></a>
		<a href="#" onclick="return false;" data-act="snsShare" data-type="twitter"><img src="/images/ico_sns_twitter.png" alt="트위터" width="46" /></a>
		<a href="#" onclick="return false;" data-act="snsShare" data-type="kakao"><img src="/images/ico_sns_kakao.png" alt="카카오톡" width="46" /></a>
		<a href="http://line.me/R/msg/text/{{lineShareUrl}}"><img src="/images/ico_sns_line.png" alt="라인" width="46" /></a>
	</div>
-->
</section>