<section>
	<div class="request_parents" ng-if="userType === '006'" ng-repeat="item in approvedYn">
		<img ng-src="{{ createFileFullPath(item.file_path, 'photo', true) }}" width="45" height="45" class="profile_img" />
		<p class="text"><strong>{{item.user_name}}</strong>이 학부모로 신청하셨습니다.</p>
		<div class="btn_box">
			<button type="button" class="btn btn_style_submit btn_small" ng-click="acceptParent(item.parent_user_no, item.user_name)">수락</button>
			<button type="button" class="btn btn_style_cancel btn_small" ng-click="refuseParent(item.parent_user_no, item.user_name)">거절</button>
		</div>
	</div>

	<div class="sec_blk" ng-if="hakwonList.length > 0">
		<div class="sec_aca_list">
			<ul class="aca_list">
				<li ng-repeat="item in hakwonList">
					<a ng-if="item.type=='custom'" href="{{item.link}}">
						<img ng-src="{{ item.img_src }}" class="temp" width="140" height="140" />
						<span class="name">{{item.hakwon_name}}</span>
					</a>
					<a ng-if="!item.type" href="{{siteUrls.hakwonDetail}}?hakwon_no={{item.hakwon_no}}">
						<img ng-src="{{ createFileFullPath(item.file_path, 'hakwon', true) }}" class="temp" width="140" height="140" />
						<span class="name">{{item.hakwon_name}}</span>
					</a>
				</li>

				<!-- 홀수일 경우 -->
				<li ng-if="hakwonList.length > 0 && hakwonList.length % 2 > 0">
					<a href="{{siteUrls.hakwonSearch}}"><img src="/images/img_add.gif" alt="학원 추가 가입하기" class="temp" width="140" height="140" /></a>
				</li>

				<!-- 짝수일 경우 -->
				<li class="clear_li" ng-if="hakwonList.length > 0 && hakwonList.length % 2 === 0">
					<a href="{{siteUrls.hakwonSearch}}"><img src="/images/img_add_02.gif" alt="학원 추가 가입하기" width="300"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="sec_title" ng-if="hakwonList.length == 0">
		<h2 class="tit hide">학원 미가입</h2>
	</div>

	<div class="sec_join_none" ng-if="hakwonList.length == 0">
		<span class="txt">
			가입된 학원이 없습니다.<br />학원을 가입해 주세요.
		</span>
		<!--버튼 영역-->
		<button type="button" ng-click="hakwonSearch()" class="btn btn_style_submit btn_block btn_bold">학원가입 하러가기</button>
		<!--//버튼 영역-->
	</div>


</section>

<section class="line_n" ng-if="userType === '005'">
	<div class="sec_title">
		<h2 class="tit">학생찾기</h2>
	</div>
	<div class="sec_search mb_5">
		<input type="text" ng-model="student_id" name="student_id" title="검색어 입력" placeholder="아이디로 검색" class="search" ng-keydown="searchStudent($event)" ng-keyup="checkEmpty($event)" />
		<button type="button" class="btn btn_style_submit" ng-click="searchStudent()">검색</button>
	</div>
	<ul class="find_student_list" ng-if="isSearch">
		<li ng-if="!!searchResult">
			<img ng-src="{{ createFileFullPath(searchResult.file_path, 'photo', true) }}" width="45" height="45" class="profile_img" />
			<strong class="name">{{searchResult.user_name}}</strong>
			<p class="info">{{searchResult.school_name}}/{{searchResult.level}}학년</p>
			<button ng-if="regStatus === 'no'" type="button" class="btn btn_small btn_style_cancel" ng-click="imYourFather(searchResult.user_no, searchResult.user_name)">학부모 신청</button>
			<span ng-if="regStatus === 'wait'" class="btn btn_small btn_style_cancel">학부모 신청중</span>
			<span ng-if="regStatus === 'ok'" class="btn btn_small btn_style_cancel">학부모 승인 완료</span>
		</li>
	</ul>
	<div ng-if="!searchResult" style="text-align:center;font-size:12px;padding:5px 0;">
		검색 결과가 없습니다.
	</div>

</section>

<section class="line_n">
	<div class="sec_title">
		<h2 class="tit">받은 메세지</h2>
		<a class="ico_more" href="{{siteUrls.receiveMessageList}}">더보기</a>
	</div>

	<div class="sec_con_list">
		<ul class="ul_type_03">
			<li ng-repeat="item in messageList">
				<div class="alarm_cont main">
					<a href="{{siteUrls.messageDetail}}?receive_no={{item.receive_no}}&type=receive">
						{{item.title?item.title:'제목 없음'}}
						<img src="/images/ico_new.gif" alt="새메세지" width="15" ng-if=" item.receive_date == null "/>
						<span class="date">{{item.send_date}}</span>
					</a>
				</div>
				<div class="alarm_tit list">
					<span class="date">보낸이: {{item.user_name}}</span>
					<span class="att">{{item.hakwon_name}}</span>
				</div>
			</li>
		</ul>
		<div ng-if="messageList.length === 0" style="text-align:center;font-size:12px;padding:5px 0;">
			메시지가 없습니다.
		</div>
	</div>
</section>

<section class="line_n">
	<div class="sec_title">
		<h2 class="tit">공지사항</h2>
	</div>
	<div class="sec_con_list">
		<ul class="ul_type_03">
			<li ng-repeat="item in noticeList">
				<div class="alarm_cont main">
					<a href="{{siteUrls.noticeDetail}}?hakwon_no={{item.hakwon_no}}&class_no={{item.class_no}}&notice_no={{item.notice_no}}">
						{{item.title}}
						<img src="/images/ico_new.gif" alt="새글" width="15" ng-show=" item.read_status == 0 "/>
						<span class="date">{{item.reg_date}}</span>
					</a>

				</div>
				<div class="alarm_tit list">
					<span class="date">작성자: {{item.write_user_name}}</span>
					<span class="att">{{item.write_group}}</span>
				</div>
			</li>
		</ul>
		<div ng-if="noticeList.length === 0" style="text-align:center;font-size:12px;padding:5px 0;">
			등록된 공지사항이 없습니다.
		</div>
	</div>
</section>
<!--
<section class="line_n">
	<div ng-if="userAuth.userId == 'bumstudent'">
		<button tyle="button" onclick="testFun()">test</button>
	</div>
</section>
-->

<section class="line_n" name="main_event">
	<div class="sec_title">
		<h2 class="tit">이벤트</h2>
	</div>

	<div class="sec_con_list mb_20">
		<ul class="ul_type_03">
			<li ng-repeat="item in eventList">
				<div class="alarm_cont main">
					<a href="{{siteUrls.eventDetail}}?hakwon_no={{item.hakwon_no}}&event_no={{item.event_no}}">
						{{item.event_title}}
						<img src="/images/ico_new.gif" alt="새이벤트" width="15" ng-show="isNewItem(item.begin_date) && item.read_status == 0 "/>
					</a>
				</div>
				<div class="alarm_tit list">
					<span class="date">종료일: {{item.end_date}}</span>
					<span class="att">{{item.hakwon_name}}</span>
				</div>
			</li>
		</ul>
		<div ng-if="eventList.length === 0" style="text-align:center;font-size:12px;padding:5px 0;">
			진행중인 이벤트가 없습니다.
		</div>
	</div>

	<!--배너 영역-->
<!--
사용자 메인은 광고가 없음.
	<div class="sec_blk_02">
		<div class="sec_ad_area">
			<ul class="sec_ad_list">
				<li><img src="/images/img_ad_01.gif" alt="샘플" width="74" /></li>
				<li><img src="/images/img_ad_02.gif" alt="샘플" width="149" /></li>
				<li><img src="/images/img_ad_03.gif" alt="샘플" width="74" /></li>
				<li class="clear"><img src="/images/img_ad_04.gif" alt="샘플" width="224" /></li>
				<li><img src="/images/img_ad_05.gif" alt="샘플" width="74" /></li>
				<li class="clear"><img src="/images/img_ad_06.gif" alt="샘플" width="149" /></li>
				<li><img src="/images/img_ad_07.gif" alt="샘플" width="74" /></li>
				<li><a href="#n"><img src="/images/img_ed_btn.gif" alt="목록" width="74" /></a></li>
			</ul>
		</div>
	</div>
-->
	<!--//배너 영역-->
</section>
<div id="first_popup" style="display:none;position:fixed;top:0;left:0;width:100%;height:100%;">
	<div style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#555;opacity:0.7;"></div>
	<div style="position:absolute;top:100px;left:0;width:100%;">
		<div style="margin:0 auto;width:320px;height:209px;text-align:right;">
			<img src="/images/btn_close_02.png" alt="닫기" width="28"  ng-click="closePopup();" style="margin-bottom:5px;cursor:pointer"/>
			<object id="first_popup_movie" width="320" height="180" data="http://www.youtube.com/embed/af3AXUB_daw"></object>
		</div>
	</div>
</div>