	<div class="ibox-title new_mo_title">
		<h1>메세지</h1>
		<button type="button" class="btn btn-primary title_btn_submit" ng-click="editConfirm()">등록</button>
		<button type="button" class="btn title_btn_cancel" ng-click="editCancel()">X</button>
		<div class="mo_top_file_btn" style="text-align:right;">
			<span class="btn btn-success">파일</span>
			<input type="file" class="input_file file_btn" data-act="file_upload" multiple>
			<span class="btn btn-success">youtube</span>
			<input type="file" class="input_file youtube_btn" data-act="youtube_upload" multiple>
		</div>
	</div>
	<div class="ibox-content new_mo_content">
		<select class="form-control m-b-xs" ng-model="targetType">
			<option value="class">반 선택</option>
			<option value="userGroup">사용자 그룹</option>
			<option value="search">검색</option>
		</select>
		<div class="mo_row_time m-b-xs">
			<input type="date" ng-model="reservationDate" class="form-control" placeholder="예약발송일">
			<input type="time" ng-model="reservationTime" class="form-control" placeholder="예약발송시간">
			<button type="button" class="btn btn-primary" ng-click="reservationCancel()">X</button>
		</div>
		<div class="m-b-xs">
			<input type="checkbox" id="a_class"><label for="a_class">A반</label>
		</div>
		<div class="m-b-xs" ng-show="targetType == 'class'">
			<input type="checkbox" id="target_teacher"><label for="target_teacher">선생님</label>
			<input type="checkbox" id="target_parent"><label for="target_parent">학부모</label>
			<input type="checkbox" id="target_student"><label for="target_student">정회원 학생</label>
		</div>

		<div class="m-b-xs" ng-show="targetType == 'userGroup'">
			<input type="checkbox" id="target_group_teacher"><label for="target_group_teacher">선생님</label>
			<input type="checkbox" id="target_group_parent"><label for="target_group_parent">정회원 학생의 학부모</label>
			<input type="checkbox" id="target_group_student"><label for="target_group_student">정회원 학생</label>
			<input type="checkbox" id="target_group_non_parent"><label for="target_group_non_parent">비회원 학생의 학부모</label>
			<input type="checkbox" id="target_group_non_student"><label for="target_group_non_student">비회원 학생</label>
		</div>

		<div class="input-group m-b-xs" ng-show="targetType == 'search'">
			<input type="text" class="form-control" ng-model="searchText" placeholder="이름으로 검색"> <span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-click="masterMessageTargetSearch()">검색하기</button></span>
		</div>
		<!-- 검색하기 버튼 클릭시 결과 나타남. 클릭 전에는 나타나지 않음 -->
		<ul class="search_name_list">
			<li>
				<span class="student_add_box">
					<img class="img-circle" src="../assets/img/profile.jpg" alt="홍길동님의 프로필" width="35">
					<strong class="name">홍길동</strong> vitaminblue
					<button type="button" class="btn btn-default btn-sm">추가</button>
				</span>

				<span class="parents_add_box">
					<i>부</i>
					<img class="img-circle" src="../assets/img/profile.jpg" alt="홍길동님의 프로필" width="30">
					<strong class="name">홍길동</strong> vitaminblue
					<button type="button" class="btn btn-default btn-xs">추가</button>
				</span>

			</li>
		</ul>
		<!-- 상단 셀렉트 박스에서 이름 검새 후 메세지 보내기 선택하면 나오는 영역 끝 -->
		<ul class="chosen_select">
			<li>홍길동 <button type="button" class="btn_x" title="삭제">x</button></li>
		</ul>
		<div><textarea cols="140" rows="10" class="form-control" data-lib="editor">{{eventDetail.event_content}}</textarea></div>
		<div class="form-group">
			<div class="col-sm-11">
				<div class="attachment mo_file_box" ng-if="fileList.length > 0">
					<div class="file-box" ng-repeat="item in fileList" data-file-no="{{item.fileNo}}">
						<div class="file">
							<div class="image no_image" data-file-type="video" data-file-url="{{ getAttachFileFullPath(item.filePath) }}" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'video' && !item.youtubeId">
								{{item.fileName}}
							</div>
							<div class="image no_image" data-file-type="audio" data-file-url="{{ getAttachFileFullPath(item.filePath) }}" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'audio'">
								{{item.fileName}}
							</div>
							<div class="image no_image" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'file'">
								{{item.fileName}}
							</div>
							<div class="image" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'img'">
								<img alt="image" class="img-responsive" data-img-no="{{item.fileNo}}" ng-src="{{ getAttachFileFullPath(item.filePath) }}" ng-click="insertImageToEditor(item.filePath, item.fileNo)">
							</div>
							<button type="button" class="btn btn-circle btn_file_del" title="삭제" ng-click="removeAttachFile(item.fileNo)">X</button>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>