	<div class="ibox-title new_mo_title">
		<h1>메세지</h1>
		<button type="button" class="btn btn-primary title_btn_submit" ng-click="messageSend()">등록</button>
		<button type="button" class="btn title_btn_cancel" ng-click="cancelFun()">X</button>
		<div class="mo_top_file_btn" style="text-align:right;">
			<span class="btn btn-success">파일</span>
			<input type="file" class="input_file file_btn" data-act="file_upload" multiple>
			<span class="btn btn-success">youtube</span>
			<input type="file" class="input_file youtube_btn" data-act="youtube_upload" multiple>
		</div>
	</div>

	<div class="ibox-content new_mo_content">
		<select class="form-control m-b-xs" ng-model="classTarget">
			<option value="search">검색</option>
			<option value="{{item.class_no}}" ng-repeat="item in classList">
				{{item.class_title}}(학생수:{{ item.student_count}})
			</option>
		</select>
		<div class="mo_row_time m-b-xs">
			<input type="date" ng-model="reservationDate" class="form-control" placeholder="예약발송일">
			<input type="time" ng-model="reservationTime" class="form-control" placeholder="예약발송시간">
			<button type="button" class="btn btn-primary" ng-click="reservationCancel()">X</button>
		</div>
		<select class="form-control m-b" ng-model="targetType" ng-show="classTarget != 'search'">
			<option value="student_all">학생 전체 메세지 보내기</option>
			<option value="parent_all">학부모 전체 메세지 보내기</option>
			<option value="all">학생/학부모 전체 메세지 보내기</option>
		</select>

		<div class="input-group m-b-xs" ng-show="classTarget == 'search'">
			<input type="text" class="form-control" ng-model="searchText" placeholder="학생 아이디 및 이름으로 검색">
			<span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-click="messageTargetSearch()">검색하기</button></span>
		</div>
		<!-- 검색하기 버튼 클릭시 결과 나타남. 클릭 전에는 나타나지 않음 -->
		<ul class="search_name_list" ng-show="classTarget == 'search'">
			<li ng-if="search_result == 'empty'">검색대상이 없습니다.</li>

			<li ng-repeat="searchUser in search_user_list">
				<span class="student_add_box">
					<i>{{ searchUser.user_type_name}}</i>
					<img class="img-circle" ng-src="{{comm.userProfileImg(searchUser.user_photo_path)}}" alt="{{ searchUser.user_name}} 프로필" width="35">
					<strong class="name">{{ searchUser.user_name}}</strong> {{ searchUser.user_id}}
					<button type="button" data-val="{{ searchUser.user_name + CommonConstant.ChDiv.CH_DEL + searchUser.user_no}}" class="btn btn-default btn-sm" ng-click="searchTargetSelect(searchUser)">추가</button>
				</span>

				<span class="parents_add_box" ng-repeat="parentUser in searchUser.relationList">
					<i>{{ parentUser.user_gender=="M"?"부":"모"}}</i>
					<img class="img-circle" ng-src="{{comm.userProfileImg(parentUser.user_photo_path)}}" alt="프로필" width="30">
					<strong class="name">{{ parentUser.user_name}}</strong> {{ parentUser.user_id}}
					<button type="button" class="btn btn-default btn-xs" data-val="{{ parentUser.user_name + CommonConstant.ChDiv.CH_DEL + parentUser.user_no}}" ng-click="searchTargetSelect(parentUser)">추가</button>
				</span>
			</li>
		</ul>
		<!-- 상단 셀렉트 박스에서 이름 검새 후 메세지 보내기 선택하면 나오는 영역 끝 -->
		<ul class="chosen_select">
			<li data-user-no="{{target.user_no}}" ng-repeat="target in choiceSearchTarget">
				{{target.user_name?target.user_name:target.user_id}} <button type="button" class="btn_x" ng-click="removeTargetSelect(target)" title="삭제">x</button>
			</li>
		</ul>
		<div><textarea cols="140" rows="10" class="form-control" name="messageContent" data-lib="editor"></textarea></div>
		<div class="form-group">
			<div class="col-sm-11">
				<div class="attachment mo_file_box" ng-if="fileList.length > 0">
					<div class="file-box" ng-repeat="item in fileList" data-file-no="{{item.fileNo}}">
						<div class="file">
							<div class="image no_image" data-file-type="video" data-file-url="{{ getAttachFileFullPath(item.filePath) }}" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'video' && !item.youtubeId">
								{{item.fileName}}
							</div>
							<div class="image no_image" data-file-type="audio" data-file-url="{{ getAttachFileFullPath(item.filePath) }}" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'audio'">
								{{item.fileName}}
							</div>
							<div class="image no_image" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'file'">
								{{item.fileName}}
							</div>
							<div class="image" ng-if="CommUtil.isFileType(item.imageYn, item.mimeType) == 'img'">
								<img alt="image" class="img-responsive" data-img-no="{{item.fileNo}}" ng-src="{{ getAttachFileFullPath(item.filePath) }}" ng-click="insertImageToEditor(item.filePath, item.fileNo)">
							</div>
							<button type="button" class="btn btn-circle btn_file_del" title="삭제" ng-click="removeAttachFile(item.fileNo)">X</button>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>