<div class="col-md-6" name="ban">
	<div class="widget-head-color-box navy-bg p-lg text-center" data-view="dashProfile">
		<h2 class="font-bold">{{hakwonObj.hakwon_name}}</h2>
		<img ng-src="{{ getFileFullPath() }}" class="circle-border m-md img-responsive" alt="학원 프로필 사진" width="300" data-view="logo_preview">
		<span class="btn btn-danger btn-rounded btn_edit" title="프로필수정" ng-if="checkAuthType()"><i class="fa fa-camera"></i> </span>
		<input type="file" class="input_file_icon" data-act="logo_upload" accept="image/*" ng-if="checkAuthType()">
		<p>{{hakwonObj.old_sido}} / {{hakwonObj.hakwon_cate_name}}</p>
	</div>
	<div class="widget-text-box">
		<h3 class="media-heading">학원정보</h3>
		<div class="row">
			<p class="col-md-10">
				주소 : {{ getAllAddrText() }}<br>
				전화번호 : {{hakwonObj.tel_no_1}}
			</p>
			<div class="col-md-2 text-right"><button ng-if="checkAuthType()" class="btn btn-default btn_edit" data-act="hakwonModify" type="button">수정</button></div>
		</div>
	</div>


	<div class="code_view"><i class="fa fa-angellist btn-danger"></i> 학원코드 : {{hakwonObj.hakwon_code}}</div>
	<button class="btn btn-block btn-lg btn-primary m-b" data-act="hakwonIntro">학원소개</button>
	<div class="sns_area" style="display:none;">
		<ul>
			<li><button type="button" class="sns_01" data-act="snsShare" data-type="facebook">페이스북</button><li>
			<li><button type="button" class="sns_03" data-act="snsShare" data-type="line">라인</button><li>
			<li><button type="button" class="sns_04" data-type="kakao">카카오톡</button><li>
			<li><button type="button" class="sns_05" data-act="snsShare" data-type="band">밴드</button><li>
			<li><button type="button" class="sns_06" data-act="snsShare" data-type="sms">메세지</button><li>
		</ul>
	</div>
</div>

<div class="col-md-6">
	<!-- <a href="{{PageUrl.dashBoard.ban_list}}"> <img src="/assets/img/gyengsi.png" border="0" style="max-width:100%; height:auto;"> </a> -->
	<iframe ng-src="{{bannerUrl}}" border="0" marginwidth="0" marginheight="0" width="100%"  frameborder="0" height="900"></iframe>

</div>
