<div class="receiptYearList">
	<section class="wrapper wrapper-content row">
		<div class="ibox">
			<div class="ibox-title"><h2>학생별 수납리스트</h2></div>

			<div class="ibox-content">
				<div class="col-md-2">
					<select ng-model="searchYear" class="form-control"
						ng-options="year+'년' for year in yearList track by year"
					>
					</select>
				</div>
				<div class="col-md-2">
					<select name="classNo" class="form-control">
						<option value="">반명</option>
						<option ng-repeat="item in classList" value="{{item.class_no}}">
							{{item.class_title}}
						</option>
					</select>
				</div>
				<div class="col-md-1">
					<select name="registDay" class="form-control">
						<option value="">등록일</option>
						<option ng-repeat="item in dayList" value="{{item}}">
							{{item}} 일
						</option>
					</select>
				</div>
				<div class="col-md-2">
					<select name="searchType" class="form-control">
						<option value="name">이름</option>
						<option value="id">아이디</option>
					</select>
				</div>
				<div class="col-md-1">
					<select name="pageScale" class="form-control">
						<option value="10">10</option>
						<option value="100">100</option>
						<option value="200">200</option>
					</select>
				</div>
				<div class="col-md-2">
					<div class="input-group">
						<input type="text" class="form-control" name="searchText" placeholder="검색어 입력" ng-keydown="searchReceiptEnter($event)" value="">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="receiptSearch()">검색</button>
						</span>
					</div>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary ml" ng-click="excelSave()">엑셀저장</button>
					<button type="button" class="btn btn-primary" ng-click="registMove()">수납 등록</button>
				</div>
			</div>

			<div class="ibox-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th align="center" style="text-align:center">이름</th>
							<th align="center" width="20%" style="text-align:center">반이름</th>
							<th align="center" style="text-align:center">등록일</th>
							<th align="center" style="text-align:center">1</th>
							<th align="center" style="text-align:center">2</th>
							<th align="center" style="text-align:center">3</th>
							<th align="center" style="text-align:center">4</th>
							<th align="center" style="text-align:center">5</th>
							<th align="center" style="text-align:center">6</th>
							<th align="center" style="text-align:center">7</th>
							<th align="center" style="text-align:center">8</th>
							<th align="center" style="text-align:center">9</th>
							<th align="center" style="text-align:center">10</th>
							<th align="center" style="text-align:center">11</th>
							<th align="center" style="text-align:center">12</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in receiptList" receipt-no={{item.receipt_no}}>
							<td align="center">
								<a href="#" onclick="return false;" student-no="{{item.user_no}}">
									<img class="img-circle" ng-src="{{CommUtil.createFileFullPath(item.user_photo_path, 'photo')}}" alt="{{ item.user_name }} 프로필" width="35" height="35">
									<br/>{{ item.user_name }}
								</a>
							</td>
							<td align="center"><span>{{ item.class_title }}</span></td>
							<td  align="center" style="cursor: pointer;" name="registDay" st-id="{{item.user_id}}"><span><strong>{{ item.receipt_date?item.receipt_date:"미등록" }}</strong></span></td>
							<td align="center"><span>{{ item.one }}</span></td>
							<td align="center"><span>{{ item.two }}</span></td>
							<td align="center"><span>{{ item.three }}</span></td>
							<td align="center"><span>{{ item.four }}</span></td>
							<td align="center"><span>{{ item.five }}</span></td>
							<td align="center"><span>{{ item.six }}</span></td>
							<td align="center"><span>{{ item.seven }}</span></td>
							<td align="center"><span>{{ item.eight }}</span></td>
							<td align="center"><span>{{ item.nine }}</span></td>
							<td align="center"><span>{{ item.ten }}</span></td>
							<td align="center"><span>{{ item.eleven }}</span></td>
							<td align="center"><span>{{ item.twelve }}</span></td>
						</tr>
						<tr ng-if="studentCount == 0">
							<td colspan="15" align="center">조회된 결과가 없습니다.</td>
						</tr>

					</tbody>
				</table>

				<div class="text-center m-b-xl m-t-xl" id="eg-custom-paging">
				</div>

			</div>
			<!-- <div class="ibox-content text-right">
				<button class="btn btn-primary" type="button" title="수납 등록">수납 등록</button>
			</div> -->
		</div>
	</section>
</div>