<!-- 반 상세정보 include -->
<div class="col-md-3" ng-include="'/js/partials/classDetail.html'"></div>

<div class="col-md-9">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div class="text-right" ng-if="isMobile">
				<button type="button" class="btn btn-primary" ng-click="goClassNoticeEdit()">공지사항 등록</button>
			</div>
			<table ng-if="classNoticeList.length > 0" class="table table-hover table_link">
				<thead>
				<tr>
					<th>제목</th>
					<th>날짜 / 작성자</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in classNoticeList">
					<td>
						<a href="" ng-click="goClassNoticeDetail(item.notice_no)">
							{{ item.title }}
							<strong ng-if="item.reply_yn== 'Y'">({{item.reply_count}})</strong>
							<strong ng-if="isNewItem(item.reg_date) && item.read_status == 0" class="badge badge-danger">N</strong>
						</a>
					</td>
					<td>
						<span ng-if="item.reservation_yn == 'Y' && !item.reservation_send_date">
							예약 : {{ item.reservation_date }} / {{ item.reg_user_name }}
						</span>
						<span ng-if="item.reservation_yn == 'N' || item.reservation_send_date">
							{{ item.reg_date }} / {{ item.reg_user_name }}
						</span>
					</td>
				</tr>
				</tbody>
			</table>

			<table ng-if="classNoticeList.length == 0" class="table table-hover table_link">
				<tbody>
				<tr>
					<td class="text-center" style="padding:200px 0 !important;">
						등록된 공지사항이 없습니다<br>공지사항을 등록해 주세요.<br>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="text-right">
				<button type="button" class="btn btn-primary" ng-click="goClassNoticeEdit()">공지사항 등록</button>
			</div>

		</div>
		<!-- 신규 paging 영역-->
		<div class="text-center m-b-xl m-t-xl" ng-if="pageInfo">
			<button type="button" class="btn btn-white" ng-if="pageInfo.prevPage" ng-click="movePage(pageInfo.prevPage)"><i class="fa fa-chevron-left"></i></button>
			<button ng-repeat="page in pageInfo.pages"class="btn btn-white"  ng-class="{active: page == pageInfo.curPage}" ng-click="movePage(page)">{{page}}</button>
			<button type="button" class="btn btn-white" ng-if="pageInfo.nextPage" ng-click="movePage(pageInfo.nextPage)"><i class="fa fa-chevron-right"></i></button>
		</div>
		<!--// 신규 paging 영역-->
	</div>
</div>