<div class="ibox">
	<div class="ibox-title">구글지도에서 주소를 검색합니다. 정확한 주소를 입력했을 경우 장소가 바로 검색되면서 화면 가운데에 빨간색 포인트가 나타납니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/01.gif" target="_blank"><img src="/assets/img/guide/01.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">브라우저 우측 하단의 설정 아이콘에서 <strong>지도 공유 또는 퍼가기</strong>를 클릭합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/02.gif" target="_blank"><img src="/assets/img/guide/02.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">가끔 지도 가운데 빨간포인트가 잡히지 않는 경우가 있습니다. 대부분은 텍스트를 바꾸는것으로 나타나기도 합니다.
	예를 들면 부산시로 입력할 경우 잘 나타나지 않는 주소가 부산광역시로 입력하면 나타나기도 합니다.
	어쨌든 이 경우는 정확한 지점을 잡아줘야 되기 때문에 지도에서 마우스로 위치를 찾아 클릭합니다.
	좌측 상단에 클릭한 주소가 나타나면 주소를 클릭합니다.
	</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/03.gif" target="_blank"><img src="/assets/img/guide/03.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">클릭한 곳이 빨간색 포인트로 표시되는지 확인합니다. 빨간 포인트가 나타나지 않으면 공유시 정확한 위치가 나나타지 않으므로 꼭 확인합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/04.gif" target="_blank"><img src="/assets/img/guide/04.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">이때 우측 하단의 설정 아이콘에서 <strong>지도 공유 또는 퍼가기</strong>를 클릭합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/05.gif" target="_blank"><img src="/assets/img/guide/05.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">지도 삽입 탭에서 사이즈가 중간인지 확인 후 지도 소스를 복사합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/06.gif" target="_blank"><img src="/assets/img/guide/06.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">학원관리자 사이트에서 학원소개 수정을 클릭합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/07.gif" target="_blank"><img src="/assets/img/guide/07.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">지도첨부란에 소스를 붙여넣고 오른쪽 지도삽입 버튼을 클릭 합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/08.gif" target="_blank"><img src="/assets/img/guide/08.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">하단에 등록하기 버튼을 눌러 완료 합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/09.gif" target="_blank"><img src="/assets/img/guide/09.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">지도가 나오는지 확인합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/10.gif" target="_blank"><img src="/assets/img/guide/10.gif" class="img-responsive"></a>
	</div>
</div>