<div class="ibox">
	<div class="ibox-title">유투브 주소에서 마지막 11자리 코드를 복사 합니다. (부등호 다음 모두를 복사하시면 됩니다.)</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/u_01.gif" target="_blank"><img src="/assets/img/guide/u_01.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">학원관리자 사이트의 학원 소개 작성(혹은 수정)에서 유투브 동영상 첨부 입력란에 복사한 코드를 붙여넣고 오른쪽 동영상 삽입 버튼을 클릭합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/u_02.gif" target="_blank"><img src="/assets/img/guide/u_02.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">동영상이 잘 삽입되는지 확인합니다. 영상화면이 나타나야 합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/u_03.gif" target="_blank"><img src="/assets/img/guide/u_03.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">영상을 클릭한 후 상단 에디터 버튼중에서 가운데 정렬 버튼을 눌러 가운데로 정렬합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/u_04.gif" target="_blank"><img src="/assets/img/guide/u_04.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">하단에 등록하기 버튼을 눌러 완료 합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/09.gif" target="_blank"><img src="/assets/img/guide/09.gif" class="img-responsive"></a>
	</div>
</div>
<div class="ibox">
	<div class="ibox-title">영상이 가운데 정렬된 채로 잘 나오는지 확인합니다.</div>
	<div class="ibox-content">
		<a href="/assets/img/guide/u_05.gif" target="_blank"><img src="/assets/img/guide/u_05.gif" class="img-responsive"></a>
	</div>
</div>