<div class="middle-box my_info_box text-center">
	<div class="my_info_profile_img m-b-xl">
		<img ng-src="{{ getFileFullPath() }}" src="/assets/img/a1.jpg" alt="프로필 사진" class="img-circle" width="50%">
	</div>
	<form role="form" action="" class="form-group">
		<ul class="info_list_box">
			<li class="form-group">
				<label class="control-label">비밀번호변경</label>
				<a href="#" ng-show="is_pwd_change == false" onclick="return false;" ng-click="is_pwd_change = !is_pwd_change">비밀번호 변경</a>
				<a href="#" ng-show="is_pwd_change == true" onclick="return false;" ng-click="is_pwd_change = !is_pwd_change">비밀번호 변경 취소</a>
			</li>

			<li ng-show="is_pwd_change == true" class="form-group" ng-class="{'has-success' : checkUserPwd1 === true, 'has-error' : checkUserPwd1 === false}">
				<label class="control-label">비밀번호</label>
				<input type="password" name="userPassword" class="form-control m-b-xs" placeholder="비밀번호" ng-model="memberObj.user_password">
			</li>
			<li ng-show="is_pwd_change == true" class="form-group" ng-class="{'has-success' : checkUserPwd2 === true, 'has-error' : checkUserPwd2 === false}">
				<label class="control-label">비밀번호 확인</label>
				<input type="password" name="pwdConfirm" class="form-control m-b-xs" placeholder="비밀번호 확인" ng-model="memberObj.chk_password">
			</li>
			<li class="form-group">
				<label class="control-label">이름</label>
				<input type="text" name="userName" class="form-control m-b-xs" placeholder="이름" ng-model="memberObj.user_name">
			</li>
			<li class="form-group">
				<label class="control-label">성별</label>
				<select ng-model="memberObj.user_gender" class="form-control m-b-xs">
					<option value="">성별</option>
					<option value="M">남</option>
					<option value="F">여</option>
				</select>
			</li>
			<li class="form-group">
				<label class="control-label">생년월일 </label>
				<input type="date" min="1950-01-01" max="2015-01-01" name="userBirthday" class="form-control m-b-xs" placeholder="생년월일" ng-model="memberObj.user_birthday">
			</li>
			<li class="form-group">
				<label class="control-label">전화번호</label>
				<input type="tel" name="userPhone" class="form-control m-b-xs" placeholder="전화번호" ng-model="memberObj.tel1_no">
			</li>
			<li class="form-group" ng-class="{'has-success' : checkEmail === 'notexist', 'has-error' : checkEmail === 'exist'}">
				<label class="control-label">이메일 주소</label>
				<div class="input-group">
					<input type="email" name="userEmail" class="form-control" placeholder="이메일 주소" ng-model="memberObj.user_email" ng-keydown="resetEmailCheck($event)">
					<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="checkDuplicateEmail()">중복확인</button></span>
				</div>
			</li>
		</ul>

		<div class="text-right">
			<button type="button" class="btn btn-lg m-t-xl" style="padding:10px 30px;" ng-click="cancelModify()">취소</button>
			<button type="button" class="btn btn-primary btn-lg m-t-xl" style="padding:10px 30px;" ng-click="confirmModify()">완료</button>
		</div>
	</form>
</div>