<div class="middle-box my_info_box text-center">
	<h2>{{memberObj.user_name}}<br><small>{{memberObj.user_id}} / {{memberObj.user_type}}</small></h2>
	<div class="my_info_profile_img">
		<img ng-src="{{ getFileFullPath() }}" alt="프로필 사진" class="img-circle" width="80%" data-view="photo_preview">
		<div ng-if="isAndroidUploader == false">
			<span class="btn btn-danger btn-rounded btn_edit" title="프로필수정"><i class="fa fa-camera"></i> </span>
			<input type="file" class="input_file_icon" data-act="photo_upload" accept="image/*">
		</div>
		<div ng-if="isAndroidUploader == true" ng-click="androidUpload()">
			<span class="btn btn-danger btn-rounded btn_edit" title="프로필수정"><i class="fa fa-camera"></i> </span>
		</div>
	</div>
	<p class="my_info_text">
		{{ getGenderName() }} / {{memberObj.user_birthday}} / {{!memberObj.user_age||memberObj.user_age==0?"생일 미입력":memberObj.user_age+"세"}} / {{memberObj.subject}}<br>
		{{memberObj.tel1_no}}<br>
		{{memberObj.user_email}}
	</p>
	<button type="button" class="btn btn-primary btn-block btn-lg m-t-xl" ng-click="goMemberEdit()">개인 정보 변경</button>
	<button type="button" class="btn btn-info btn-block btn-lg m-t-xl" ng-click="logout()">로그아웃</button>
	<br />
	<a href="#" onclick="return false;" class="btn m-t-xl" ng-click="memberOut()">학원밴드 탈퇴하기</a>
</div>