<div class="receiptList">
	<section class="wrapper wrapper-content row">
		<div class="ibox">
			<div class="ibox-title"><h2>기간별 수납리스트</h2></div>

			<div class="ibox-content">
				<div class="col-md-2">
					<select name="classNo" class="form-control">
						<option value="">반명</option>
						<option ng-repeat="item in classList" value="{{item.class_no}}">
							{{item.class_title}}
						</option>
					</select>
				</div>
				<div class="col-md-2">
					<select name="receiptType" class="form-control">
						<option value="">수납 타입</option>
						<option value="001">입금</option>
						<option value="003">수강료입금</option>
						<option value="004">교재비입금</option>
						<option value="002">출금</option>
					</select>
				</div>
				<div class="col-md-2">
					<select name="receiptMethod" class="form-control">
						<option value="">수납 방법</option>
						<option value="001">카드</option>
						<option value="002">현금</option>
						<option value="003">계좌이체</option>
						<option value="004">기타</option>
					</select>
				</div>
				<div class="col-md-2">
					<select name="searchType" class="form-control">
						<option value="name">이름</option>
						<option value="id">아이디</option>
					</select>
				</div>
				<div class="col-md-3">
					<div class="input-group">
						<input type="text" class="form-control" name="searchText" placeholder="검색어 입력" ng-keydown="searchReceiptEnter($event)" value="">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="receiptSearch()">검색</button>
						</span>
					</div>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-primary" ng-click="excelSave()">엑셀저장</button>
				</div>
			</div>
			<div class="ibox-content text-center">
				<strong ng-repeat="item in inAndOutMoneySumList">
					{{item.receipt_type_name}} : {{ item.money | number:0 }}&nbsp;&nbsp;&nbsp;
				</strong>
			</div>

			<div class="ibox-content data_period_reset">
				<button type="button" class="btn btn-primary btn-rounded btn-rounded btn-outline" data-act="searchTerm" data-value="001">당일</button>
				<button type="button" class="btn btn-primary btn-rounded btn-rounded btn-outline" data-act="searchTerm" data-value="002">일주일</button>
				<button type="button" class="btn btn-primary btn-rounded btn-rounded btn-outline" data-act="searchTerm" data-value="003">1개월</button>
				<button type="button" class="btn btn-primary btn-rounded btn-rounded btn-outline" data-act="searchTerm" data-value="004">3개월</button>
				<button type="button" class="btn btn-primary btn-rounded btn-rounded btn-outline" data-act="searchTerm" data-value="005">6개월</button>
				<button type="button" class="btn btn-primary btn-rounded btn-rounded btn-outline" data-act="searchTerm" data-value="006">12개월</button>

				<div class="input-daterange input-group">
					<input type="date" name="startDate" value="{{startDate}}" class="input-sm form-control">
					<span class="input-group-addon">to</span>
					<input type="date" name="endDate" value="{{endDate}}" class="input-sm form-control">
				</div>
			</div>

			<div class="ibox-content">
				<table class="table table-hover table_link">
					<thead>
						<tr>
							<th align="center" style="text-align:center">이름</th>
							<th align="center" style="text-align:center">수납날짜</th>
							<th align="center" style="text-align:center">수납타입</th>
							<th align="center" style="text-align:center">수납방법</th>
							<th align="center" style="text-align:center">금액</th>
							<th width="30%">내용</th>
							<th align="center" style="text-align:center">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in receiptList" receipt-no={{item.receipt_no}}>

							<td align="center">
								<a href="#" onclick="return false;" student-no="{{item.student_no}}" title="{{ item.user_id }}">
									<img class="img-circle" ng-src="{{ getPhotoFileFullPath(item.user_photo_path) }}" alt="{{ item.user_name }} 프로필" width="35" height="35">
									<br/>{{ item.user_name }}
								</a>
							</td>
							<td name="receipt_detail" align="center"><span>{{ item.receipt_date }}</span></td>
							<td name="receipt_detail" align="center"><span>{{ item.receipt_type_name }}</span></td>
							<td name="receipt_detail" align="center"><span>{{ item.receipt_method_name }}</span></td>
							<td name="receipt_detail" align="center"><span>{{ item.receipt_amount | number:0 }}원</span></td>
							<td name="receipt_detail" style="cursor: pointer;" ng-click="content_view(item.receipt_no)">
								<div ng-bind-html="item.receipt_desc | rawHtml" style="height:1em; line-height:1.2em; overflow:hidden;" data-view="receipt_desc" data-id="{{item.receipt_no}}"></div>
							</td>
							<td name="receipt_detail" align="center" style="cursor: pointer;">
								<button class="btn btn-default btn" ng-click="modifyView(item.receipt_no)">수정</button>
							</td>
						</tr>
						<tr ng-if="receiptList.length == 0">
							<td colspan="7" align="center">조회된 결과가 없습니다.</td>
						</tr>

					</tbody>
				</table>

				<div class="text-center m-b-xl m-t-xl" id="eg-custom-paging">
				</div>

			</div>


			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<!-- <div class="modal-header">
		        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        			<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      			</div> -->
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<!--
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		       				<button type="button" class="btn btn-primary">Save changes</button>
		       				-->
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="ibox-content text-right">
				<button class="btn btn-primary" type="button" title="수납 등록">수납 등록</button>
			</div> -->
		</div>
	</section>
</div>